* {
  margin: 0%;
  padding: 0; }

html {
  background-image: url(../resources/images/paper.jpg);
  min-height: 100%;
  background-size: cover; }

.header {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  height: auto; }
  .header_h1 {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 6rem; }
  .header_nav {
    background-color: black;
    text-decoration: none;
    height: auto;
    align-content: center;
    padding-top: 0.5rem; }
    .header_nav_ul {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      text-align: center;
      justify-content: space-evenly; }
    .header_nav_li {
      text-decoration-style: none;
      text-align: center;
      width: 15%;
      padding: 0.5rem;
      align-items: center; }
      .header_nav_li_a {
        text-decoration: none;
        color: white;
        font-size: x-large; }

a:hover {
  color: red; }

.main_divA {
  grid-area: article1;
  height: 90%; }
  .main_divA_div {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    height: 100%;
    margin: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    font-family: 'Special Elite', cursive;
    background-image: url(../resources/images/paper_sheet.png);
    background-size: cover; }
    .main_divA_div_p {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      overflow: hidden scroll; }

.main_divB {
  grid-area: article2;
  height: 90%; }
  .main_divB_div {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    font-family: 'Special Elite', cursive;
    background-image: url(../resources/images/paper_sheet.png);
    background-size: cover; }
    .main_divB_div_p {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      overflow: hidden scroll; }

.main_divC {
  grid-area: article3;
  height: 90%; }
  .main_divC_div {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    font-family: 'Special Elite', cursive;
    background-image: url(../resources/images/paper_sheet.png);
    background-size: cover; }
    .main_divC_div_p {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      overflow: hidden scroll; }

.main_divD {
  grid-area: article4;
  height: 90%; }
  .main_divD_div {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    font-family: 'Special Elite', cursive;
    background-image: url(../resources/images/paper_sheet.png);
    background-size: cover; }
    .main_divD_div_p {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      overflow: hidden scroll; }

.main_a {
  text-decoration: none;
  color: blue;
  position: relative,fixed;
  bottom: 0.5rem; }

.main_noticias {
  grid-area: article1; }

.main_aside {
  grid-area: aside1;
  width: 100%;
  height: 20rem;
  margin-top: 0.5rem;
  display: flex;
  flex-flow: column wrap; }
  .main_aside_h3 {
    display: flex;
    text-decoration-style: none;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    height: 3rem;
    padding-left: 0.5rem; }
  .main_aside_ul {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
    background-color: #555252;
    font-size: 0,8rem; }
    .main_aside_ul_li {
      font-size: smaller;
      max-width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem; }
    .main_aside_ul_a {
      text-decoration: none;
      color: white; }

.main_noticias_div {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  align-items: center;
  margin: 0.5rem;
  font-family: 'Special Elite', cursive; }
  .main_noticias_div_h2 {
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify; }
  .main_noticias_div_h3 {
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify; }
  .main_noticias_div_p {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: larger; }
  .main_noticias_div_img {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem; }

.footer {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column wrap; }
  .footer_ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem; }
  .footer_h5 {
    text-align: center;
    font-size: small;
    padding: 0.5rem; }

a {
  max-width: 0.5rem;
  align-items: center; }

.body {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
  grid-template-columns: 4fr 4fr 2fr;
  grid-template-areas: "head head head" "article1 article2 aside1" "article3 article4 aside2" "foot foot foot"; }

.body_noticias {
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-columns: 8fr 2fr;
  grid-template-areas: "head head" "article1 aside1" "foot foot"; }

.body_films {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.5fr 0.1fr 10fr 0.5fr;
  grid-template-areas: "head head" "title title" "main aside1" "foot foot"; }
  .body_films_main_1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%; }
  .body_films iframe {
    width: fit-content;
    height: 100%; }

.body_contactos {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "head head head" "main1 main2 aside1" "foot foot foot";
  gap: 1rem; }

.body_socios {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0,5fr;
  grid-template-areas: "head head" "title1 title2" "socio1 aside1" "socio2 aside2" "socio3 aside3" "socio4 aside4" "socio5 aside5" "socio6 aside6" "foot foot";
  gap: 2rem; }
  .body_socios header {
    grid-column: 1 /span 2; }
  .body_socios footer {
    grid-column: 1 /span 2; }

@media (max-width: 767px) {
  .body {
    grid-template-rows: 0.5fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "article1" "article2" "article3" "article4" "aside1" "foot"; }
  .body_noticias {
    grid-template-rows: 1fr 20fr 2.5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "article1" "aside1" "foot"; }
  .header_h1 {
    font-size: 3rem; }
  .header_nav_li_a {
    font-size: medium; }
  .body_films {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 40fr 2fr 1fr;
    grid-template-areas: "head" "title" "main" "aside1" "foot"; }
    .body_films_main_1 {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
    .body_films_h2 {
      font-size: 1rem; }
    .body_films_video_div {
      display: flex;
      justify-content: center;
      align-items: center; }
    .body_films footer {
      grid-area: foot;
      grid-column: 1; }
  .body_contactos {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-areas: "head" "main1" "main2" "aside1" "foot"; }
    .body_contactos .main_contactos {
      align-items: center; }
    .body_contactos .main_contactos2 {
      align-items: center; }
      .body_contactos .main_contactos2_div {
        align-items: center;
        justify-content: center; }
    .body_contactos footer {
      grid-area: foot;
      grid-column: 1; }
  .body_socios {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0,5fr;
    grid-template-areas: "head" "title1" "socio1" "socio2" "socio3" "socio4" "socio5" "socio6" "aside1" "foot";
    gap: 2rem; }
    .body_socios_socio1 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
    .body_socios_socio2 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
    .body_socios_socio3 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
    .body_socios_socio4 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
    .body_socios_socio5 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
    .body_socios_socio6 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
    .body_socios header {
      grid-column: 1 /span 2; }
    .body_socios footer {
      grid-column: 1 /span 2; } }

@media (min-width: 768px) {
  .body {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-areas: "head head head" "article1 article2 aside1" "article3 article4 aside2" "foot foot foot"; }
    .body header {
      grid-column: 1 /span 3; }
    .body footer {
      grid-column: 1 /span 3; }
  header {
    grid-column: 1 /span 3; }
  footer {
    grid-column: 1 /span 3; } }

@media (min-width: 576px) {
  .body_noticias {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "head head" "article1 aside1" "foot foot"; }
    .body_noticias header {
      grid-column: 1 /span 2; }
    .body_noticias main {
      grid-area: article1; }
    .body_noticias aside {
      grid-area: aside1; }
    .body_noticias footer {
      grid-column: 1 /span 2; } }

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.body_films_main {
  grid-area: main;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: left;
  margin-top: 0.5rem;
  margin-left: 0.5rem; }

.body_films_h2 {
  grid-area: title;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 0.5rem; }

.body_films_poster {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  max-width: 100%; }
  .body_films_poster_div {
    overflow: hidden;
    max-width: 80%; }
    .body_films_poster_div img {
      max-height: 75vw;
      width: auto; }

.body_films_article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: medium;
  width: 100%;
  height: 50%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-left: 0.5rem; }
  .body_films_article_p {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100%;
    justify-content: space-between; }

.body_films_video {
  display: flex;
  padding: 1rem 0.5rem 2rem 0.5rem;
  width: 100%;
  height: 50vh;
  justify-items: center;
  align-items: center;
  border-bottom: 0.5rem solid black; }
  .body_films_video_div {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }

.main_contactos {
  grid-area: main1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 2rem; }
  .main_contactos_form {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    height: auto;
    font-size: 1rem; }
    .main_contactos_form_div {
      border: black solid 0.5rem;
      background-color: gray;
      width: 50%;
      padding: 2rem; }
  .main_contactos_h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem; }

.main_contactos2 {
  grid-area: main2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 2rem; }
  .main_contactos2_div {
    width: 100%;
    padding: 0.5rem; }
  .main_contactos2 iframe {
    position: relative;
    width: 80%;
    height: 50vh; }

.body_socios_h2 {
  grid-area: title1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center; }

.body_socios_socio1 {
  grid-area: socio1;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: left;
  align-items: center; }
  .body_socios_socio1_photo {
    max-width: 300px;
    height: auto;
    border: #b19601 1rem solid; }
  .body_socios_socio1_div {
    max-width: 300px;
    padding-left: 2rem;
    display: flex;
    justify-items: left;
    align-items: flex-end;
    font-size: x-large; }

.body_socios_socio2 {
  grid-area: socio2;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: left;
  align-items: center; }
  .body_socios_socio2_photo {
    max-width: 300px;
    height: auto;
    border: #b19601 1rem solid; }
  .body_socios_socio2_div {
    max-width: 300px;
    padding-left: 2rem;
    display: flex;
    justify-items: left;
    align-items: flex-end;
    font-size: x-large; }

.body_socios_socio3 {
  grid-area: socio3;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: left;
  align-items: center; }
  .body_socios_socio3_photo {
    max-width: 300px;
    height: auto;
    border: #b19601 1rem solid; }
  .body_socios_socio3_div {
    max-width: 300px;
    padding-left: 2rem;
    display: flex;
    justify-items: left;
    align-items: flex-end;
    font-size: x-large; }

.body_socios_socio4 {
  grid-area: socio4;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: left;
  align-items: center; }
  .body_socios_socio4_photo {
    max-width: 300px;
    height: auto;
    border: #b19601 1rem solid; }
  .body_socios_socio4_div {
    max-width: 300px;
    padding-left: 2rem;
    display: flex;
    justify-items: left;
    align-items: flex-end;
    font-size: x-large; }

.body_socios_socio5 {
  grid-area: socio5;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: left;
  align-items: center; }
  .body_socios_socio5_photo {
    max-width: 300px;
    height: auto;
    border: #b19601 1rem solid; }
  .body_socios_socio5_div {
    max-width: 300px;
    padding-left: 2rem;
    display: flex;
    justify-items: left;
    align-items: flex-end;
    font-size: x-large; }

.body_socios_socio6 {
  grid-area: socio6;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  justify-content: left;
  align-items: center; }
  .body_socios_socio6_photo {
    max-width: 300px;
    height: auto;
    border: #b19601 1rem solid; }
  .body_socios_socio6_div {
    max-width: 300px;
    padding-left: 2rem;
    display: flex;
    justify-items: left;
    align-items: flex-end;
    font-size: x-large; }

.body_socios footer {
  grid-column: 1 /span 2; }

.socios_img {
  max-width: 300px;
  width: 100%;
  height: auto; }
