.body {
    display: grid;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-areas: "head head head" "article1 article2 aside1" "article3 article4 aside2" "foot foot foot";
}
.body_noticias {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "head head" "article1 aside1" "foot foot";
}
.body_films {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 10fr 0.5fr;
    grid-template-areas: "head head" "title title" "main aside1" "foot foot";
    &_main_1 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        height:100%;
        position: absolute;
    }
}

@media (max-width: 767px) {
    .body {
        grid-template-rows: 1fr 5fr 5fr 5fr 5fr 2.5fr 2.5fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "head" "article1" "article2" "article3" "article4" "aside1" "aside2" "foot";
    }
    .body_noticias {
        grid-template-rows: 1fr 20fr 2.5fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "head" "article1" "aside1" "foot";
    }
    .header_h1 {
        font-size: 3rem;
    }
    .header_nav_li_a {
        font-size: small;
    }

    .body_films {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr 40fr 2fr 1fr;
        grid-template-areas: "head" "title" "main" "aside1" "foot";
        &_main_1 {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        &_h2 {
            font-size: 1rem;
        }
        &_video_div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        footer {
            grid-area: foot;
            grid-column: 1;
        }
    }
}

@media (min-width: 768px) {
    .body {
        display: grid;
        grid-template-rows: 1fr 5fr 5fr 1fr;
        grid-template-columns: 4fr 4fr 2fr;
        grid-template-areas: "head head head" "article1 article2 aside1" "article3 article4 aside2" "foot foot foot";
        header {
            grid-column: 1 /span 3;
        }
        footer {
            grid-column: 1 /span 3;
        }
    }
    
    header {
        grid-column: 1 /span 3;
    }
    footer {
        grid-column: 1 /span 3;
    }
}

@media (min-width:576px) {
    .body_noticias {
        display: grid;
        grid-template-rows: 1fr 20fr 1fr;
        grid-template-columns: 8fr 2fr;
        grid-template-areas: "head head" "article1 aside1" "foot foot";
        header {
            grid-column: 1 /span 2;
        }
        main {
            grid-area: article1;
        }
        aside {
            grid-area: aside1;
        }
        footer {
            grid-column: 1 /span 2;
        }
    }
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}