.footer {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display:flex;
    flex-flow: column wrap;
    &_ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }
    &_h5 {
        text-align: center;
        font-size: small;
        padding: 0.5rem;
    }
}
a {
    max-width: 0.5rem;
    align-items: center;
}